<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:annotation-config />-->
    <context:component-scan base-package="Illiushchenia">
        <context:include-filter type="assignable" expression="Illiushchenia.component.binding.Instrument"/>
    </context:component-scan>

    <bean id="duke" class="Illiushchenia.component.binding.Juggler">
        <constructor-arg value="15"/>
    </bean>
    <bean id="poeticDuke" class="Illiushchenia.component.binding.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>
    <bean id="sonnet29" class="Illiushchenia.component.binding.Sonnet29"/>
    <bean id="theStage" class="Illiushchenia.component.binding.Stage" factory-method="getInstance"/>
    <!--scope="prototype" - область видимости, означает, что экземпя касса будет создаваться каждый раз при его вызове-->
    <bean id="ticket" class="Illiushchenia.component.binding.Ticket" scope="prototype"/>
    <!--Описание методов, кторые вызываеются сразу после создания объекта и перед уничтоженем объекта-->
    <bean id="auditorium" class="Illiushchenia.component.binding.Auditorium"
            init-method="turnOnLight"
            destroy-method="turnOffLight"/>
    <!--<bean id="kenny" class="Illiushchenia.component.binding.Instrumentalist">-->
        <!--<property name="song" value="Jingle Bells"/>-->
        <!--&lt;!&ndash;<property name="instrument" ref="piano"/>&ndash;&gt;-->
        <!--<property name="instrument">-->
            <!--<bean class="Illiushchenia.component.binding.Saxophone"/>-->
        <!--</property>-->
    <!--</bean>-->
    <bean id="kenny" class="Illiushchenia.component.binding.Instrumentalist"
       p:song = "Jingle Bells"
       p:instrument-ref="saxophone"/>
    <bean id="saxophone" class="Illiushchenia.component.binding.Saxophone"/>
    <bean id="piano" class="Illiushchenia.component.binding.Piano"/>

    <bean id="hank" class="Illiushchenia.component.binding.OneManBand">
        <property name="instruments">
            <map>
                <entry key="GUITAR" value-ref="guitar"/>
                <entry key="CYMBAL" value-ref="cymbal"/>
                <entry key="HARMONICA" value-ref="harmonica"/>
            </map>
        </property>
    </bean>
    <!--<bean id="guitar" class="Illiushchenia.component.binding.Guitar"/>-->
    <bean id="cymbal" class="Illiushchenia.component.binding.Cymbal"/>
    <bean id="harmonica" class="Illiushchenia.component.binding.Harmonica"/>

    <bean id="carl" class="Illiushchenia.component.binding.Instrumentalist">
        <property name="song" value="#{kenny.song}"/>
    </bean>

    <bean id="baseSaxophonist"
          class="Illiushchenia.component.binding.Instrumentalist"
          abstract="true">
        <property name="instrument" ref="saxophone"/>
        <property name="song" value="Jingle Bells"/>
    </bean>
    <bean id="david" parent="baseSaxophonist"/>
    <bean id="frank" parent="baseSaxophonist">
        <property name="song" value="Mary had a little lamb"/>
    </bean>

    <bean id="basePerformer" abstract="true">
        <property name="song" value="Somewhere Over the Rainbow"/>
    </bean>
    <bean id="stevie"
          class="Illiushchenia.component.binding.Instrumentalist"
          parent="basePerformer">
        <property name="instrument" ref="guitar"/>
    </bean>

    <bean id="harry" class="Illiushchenia.component.binding.Magician">
        <property name="magicBox" ref="magicBox"/>
        <property name="magicWords" value="Bippity boppity boo" />
    </bean>

    <bean id="magicBox"
          class="Illiushchenia.component.binding.MagicBoxImpl">
        <replaced-method name="getContents" replacer="tigerReplacer"/>
    </bean>
    <bean id="tigerReplacer"
          class="Illiushchenia.component.binding.TigerReplacer"/>

    <!--<bean id="pianist"-->
          <!--class="Illiushchenia.component.binding.Instrumentalist"-->
          <!--abstract="true">-->
        <!--<property name="song" value="Chopsticks"/>-->
        <!--<property name="instrument">-->
            <!--<bean class="Illiushchenia.component.binding.Piano"/>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<aop:spring-configured />-->

    <bean id="guitar1" class="Illiushchenia.component.binding.Guitar1"/>

    <bean id="instrumentalist1"
          class="Illiushchenia.component.binding.Instrumentalist1"/>
</beans>